<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>9Gag Like</title>
  </head>
  <body>
    <% include shared/menu.html %>

    <div class="container">
      <% if(typeof(error) != "undefined") { %>
      <div class="alert alert-danger">
        <p><%= error %></p>
      </div>
      <% } %>
      <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="Titre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="author" placeholder="Auteur">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="category" placeholder="Categorie">
        </div>
        <div class="form-group">
          <input type="file" name="picture" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>

  </body>
</html>
